/* CSS for where's monkey app */


body{
	background-color:#FFF;
}
.section{
	clear:both;
	padding:0px;
	margin:0px;
}
.col{
	display:block;
	float:left;
	margin:1% 0 1% .16%;  /*this line of code creates cutters between the blocks*/
}
.col:first-child{
	margin-left:0;
}
#col1row1 , #col2row1 , #col3row1{	
	width:30%;
}
#col1row2 , #col2row2 , #col3row2{
	width:30%;
}
#col1row3 , #col2row3 , #col3row3{		
	width:30%;
}
img.display
	{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.hidden{
	visibility:hidden;
}
	
img {
	max-width:100%;
}
.temp{
	z-index:-1;
}
.oneof3 {
	background-color:green;	
}
.twoof3{
	background-color:blue;
}
	
.threeof3{
	background-color:red;
}


	
	
	