/* CSS for where's monkey app */


body{
	/*background-color:#FFF;*/
    background-color: #FAF8DA;
}
.section{
	clear:both;
	padding:0px;
	margin:0px;
}
.col{
	display:block;
	float:left;
	margin:1% 0 1% .16%;  /*this line of code creates cutters between the blocks*/
}
.col:first-child{
	margin-left:0;
}
#col1row1 , #col2row1 , #col3row1{	
	width:30%;
}
#col1row2 , #col2row2 , #col3row2{
	width:30%;
}
#col1row3 , #col2row3 , #col3row3{		
	width:30%;
}
img.display
	{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.hidden{
	visibility:hidden;
}
#monkey{
	visibility:visible;
	width:100px;
	height:100px;
	cursor:pointer;
}	
img {
	max-width:100%;
}
.temp{
	z-index:-1;
}
.oneof3 {
	background-color:green;	
}
.twoof3{
	background-color:blue;
}
.threeof3{
	background-color:red;
}

/* styles for the models */
body { font-size: 62.5%; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }